.paginate {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.paginate li {
  margin-right: 10px;
}

.paginate p {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.paginate p:hover {
  background-color: #f2f2f2;
  color: #555;
}

.paginate p.active {
  background-color: #555;
  color: #fff;
}